/* Ubicamos la posicion de todo el panel */
#dibujo {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}
/* Ubicamos del dibujo del ahorcado */
#status {
    width: 200px;
    float: left;
}
/* ponemos los valores del div de los inputs (las letras que hay que adivinar) */
#inputs {
    width: 200px;
    float: right;
    margin-top: 50px;
}
/* ponemos los valores a cada input (las letras que hay que adivinar) */
#inputs input {
    width: 25px;
    padding: 3px;
    margin: 7px;
    text-align: center;
    border: none;
    border-bottom: 3px solid black;
    font-size: 25px;
}
/* ponemos los valores del div de los botones*/
#buttons {
    clear: both;
    width: 400px;
    margin: 0px auto;
}
/* ponemos los valores del div de los botones (las letras del abecedario)*/
#buttons button {
    padding: 11px;
    margin: 5px;
    font-size: 21px;
}

#restart-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #b7640b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #8d4d09;
}

#volvermenu {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 5px;
    background-color: #b7640b;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

#volvermenu:hover {
    background-color: #8d4d09;
}