body {
  background-color: rgb(117, 117, 233);
  /* Fondo blanco detrás de la imagen */
  background-image: url("panel.jpg");
  background-size: 426px 486px;
  /* Tamaño de la imagen */
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contenedor {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 81px);
  grid-template-rows: repeat(3, 80px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 253px;
  height: 250px;
}

.boton {
  width: 81px;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: transparent;

  border: none;
}

#btnEmpezar {
  
  position: absolute;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 150px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 20px;
  bottom: 60px;
  cursor: pointer;
}

#btnEmpezar:hover {
  background-color: #3e8e41;
}

#btnVolver {
  
  position: absolute;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 20px;
  top: 60px;
  cursor: pointer;
}

#btnVolver:hover {
  background-color: #3e8e41;
}

.light {
  background-color: orange;
  opacity: 0.4;
}

.hide {
  display: none
}