body {
    background-color: blue; /* Fondo blanco detrás de la imagen */
    background-image: url("panel.jpg");
    background-size: 426px 486px; /* Tamaño de la imagen */
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .contenedor {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 81px);
    grid-template-rows: repeat(3, 80px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 253px;
    height: 250px;
  }
  
  .boton {
    width: 81px;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    
    border: none;
  }
  
  .boton img {
    width: 100%;
    height: 100%;
  }

.light { 
  background-color: orange;
  opacity: 0.4; }
.hide { display: none }
  
  