/* Estilo para el body */
body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  font-size: 16px;
  }
  
  /* Estilo para el header */
  header {
  background-color: #4CAF50;
  color: #fff;
  padding: 20px;
  text-align: center;
  }
  
  /* Estilo para el h1 dentro del header */
  header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  }
  
  /* Estilo para el main */
  main {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo para la sección de introducción */
  .intro {
  margin-bottom: 40px;
  }
  
  /* Estilo para el h2 dentro de la sección de introducción */
  .intro h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  }
  
  /* Estilo para los párrafos dentro de la sección de introducción */
  .intro p {
  margin-top: 0;
  line-height: 1.5;
  }
  
  /* Estilo para la sección de documentación */
  .documentation {
  margin-bottom: 40px;
  }
  
  /* Estilo para el h2 dentro de la sección de documentación */
  .documentation h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  }
  
  /* Estilo para los párrafos dentro de la sección de documentación */
  .documentation p {
  margin-top: 0;
  line-height: 1.5;
  }
  
  /* Estilo para los botones */
  button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  }
  
  /* Estilo para los botones en hover */
  button:hover {
  background-color: #3e8e41;
  }
  
  /* Estilo para el botón de juego aleatorio */
  #random {
  margin-left: 20px;
  }