body {
  background-color: aqua;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 306px;
  height: 305px;
  border: 5px solid black;
}

h1 {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sedgwick Ave Display', cursive;
}

.row {
  background-color: #8a2be2;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid black;
}

.cell:hover {
  background-color: lightgray;
}

.cell:empty:before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
}

.cellx {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  background-color: purple;
  border: 20px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid black;
}


#volvermenu {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
  background-color: #8a2be2;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

#volvermenu:hover {
  background-color: #a443ff;
}